body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.game {
    display: flex;
    position: relative;
}

.background {
    margin: 20px;
    width: 800px;
    height: 100%;
    background-image: url('img/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.ui {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 225px;
}

.endUI {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    background-color: lightgray;
    margin: 0;
    transform: translate(50%, -180%);
    border-radius: 20px;
    opacity: 85%;
    font-size: 40px;
    visibility: hidden;
    z-index: 1;
}

.play, 
.replay {
    font-size: 40px;
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.replay {
    margin-top: 8px;
}

.endText {
    font-size: 48px;
}

.timer {
    display: inline;
    text-align: center;
    font-size: 35px;
    border-radius: 16px;
    background-color: whitesmoke;
    width: 150px;
}

.num_carrot {
    font-size: 50px;
    text-align: center;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 40px;
}

.ground {
    height: 225px;
    width: 800px;
    min-width: 800px;
}

.bug,
.carrot {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.ranking {
    width: 800px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.name_submit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 8px 0px;
    border-bottom: 1px solid lightgray;
}

.display_score {
    display: inline;
    border: 2px solid salmon;
    padding: 4px;
    border-radius: 10px;
}

.submit_score {
    display: inline-block;
}

.ipt_name {
    font-size: 20px;
}

.ipt_btn {
    font-size: 15px;
}

.users_list {
    width: 100%;
    height: 400px;
    font-size: 20px;
    overflow-y: auto;
}

.line {
    margin: 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid lightgray;
}

.user {
    display: inline-block;
    width:40%;
}

.scores {
    display: inline-block;
    width: 30%;
}

.createdAt {
    font-size: 12px;
    display: inline-block;
    width: 10%;
}